<p style="color: green"><%= notice %></p>

<h1>Lista de Articulos</h1>

<div id="items">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr scope="row">
          <td style="width: 25%">
            <%= item.name %>
          </td>
          <td style="width: 50%">
            <%= item.description %>
          </td>
          <td style="width: 25%">
            <%= link_to "Ver", item, class: "btn btn-secondary", data: { turbo_frame: "remote_modal" }  %>
            <%= link_to "Eliminar", item, class: "btn btn-danger", method: :delete, data: {controller: "sweetalert", action: "sweetalert#showAlert", sweetalert_url_value: item_path(item) } %>
            <%= link_to "Editar", edit_item_path(item), class: "btn btn-success btn-block", data: { turbo_frame: "remote_modal" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<p>
   <%= link_to "Nuevo articulo", new_item_path, class: "btn btn-primary", data: { turbo_frame: "remote_modal" }%>
</p>
